.status {
  margin-bottom: 10px;
}

.game ol {
  padding-left: 30px;
}

.game {
    width: 20%;
    margin: 100px auto;
}

.game-info {
    position:absolute; top:95px; left:275px;
    float: right;
}
