.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 68px;
  height: 68px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 68px;
}

.square:focus {
  outline: none;
}
