.square {
  background: #fff;
  border: none;
  float: left;
  font-family: 'Poppins';
  font-size: 57px;
  font-weight: bold;
  color: #34343a;
  height: 102px;
  width: 102px;
  margin: 3px;
  padding: 0;
  text-align: center;
  border-radius: 10px;
}

.square:hover {
  background: rgb(214, 214, 214);
}

.square:focus {
  outline: none;
}
